body
{
	background-image: url(devoloping.jpg);
    background-size: 1540px 880px;
    background-repeat: no-repeat;
    }
    img:hover{
	background-color: white;
}
img{
	background-color: #d3d3d3;
	width: 70px;
	height: 70px;
	position: absolute;left: 0px;top: 0px;
}
#logo{
	color: black;
	float: left;
	padding-top: 20px;
	width: 240px;
	height: 55px;
	background-color: #d3d3d3;
    margin-top: -12px;
    margin-left: 60px;
    border-radius: 10px;
}